/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles */
body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-size: cover;
}

header {
  background-color: black;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

main {
  flex: 1;
  padding: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  width: 250px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.product img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.product h2 {
  color: black;
  margin-top: 10px;
}

.product p {
  color: black;
  margin-top: 5px;
}

footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 20px;
}
